*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 100%;
    
}
.card-img-top.navbar-brand{
    width: 200px;
    height:50px;
}
#navbarNav.collapse.navbar-collapse{
    width: 500px ;
    height: 31px;

}


#navoculta{
height: 74px;
}
#secondnav{
    background: radial-gradient(circle, rgba(221,217,203,1) 0%, rgba(92,86,87,1) 49%);
  
}
#section{
    background: rgb(231,35,128);
    background: linear-gradient(75deg, rgba(231,35,128,1) 0%, rgba(228,226,90,1) 100%);
}

.boton >a{
    font-size: 12px;
    width: 45px;
    height: 45px;
    padding: 10px 10px;
    border-radius: 50%;
    bottom: 20px;
    margin-inline: 10px;
}
.card-img-top{
    height: 150px;
}
#card{
    height: 100%;
}
th, td{
width: 33%;
}
caution{
    font-size: 25px;
}